<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://unpkg.com/nes.css/css/nes-core.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css">
  <%= stylesheet_link_tag "application.bootstrap", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= hotwire_livereload_tags if Rails.env.development? %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<body>
  <%= yield %>
</body>
</html>

