<div id="<%= dom_id personagem %>">
  <p>
    <strong>Nome:</strong>
    <%= personagem.nome %>
  </p>

  <p>
    <strong>Raca:</strong>
    <%= personagem.raca %>
  </p>

  <p>
    <strong>Classe:</strong>
    <%= personagem.classe %>
  </p>

  <p>
    <strong>Atributos:</strong>
    <%= personagem.atributos %>
  </p>

  <p>
    <strong>Habilidades:</strong>
    <%= personagem.habilidades %>
  </p>

  <p>
    <strong>Imagem path:</strong>
    <%= personagem.imagem_path %>
  </p>

</div>
